@import 'tailwindcss';
@import '@nuxt/ui';
@font-face {
  font-family: 'Century';
  src: url('/fonts/centurygothic.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@theme{
  --font-sans: Century, sans-serif;
}